.site-footer{
    width:100%;
    background:#050505;
    color:white;
    padding:60px 20px 30px;
    text-align:center;
    box-sizing:border-box;
}

.footer-content{
    max-width:900px;
    margin:auto;
}

.footer-content h3{
    font-size:32px;
    font-weight:700;
    margin-bottom:20px;
}

.footer-content p{
    font-size:16px;
    line-height:1.8;
    margin:10px 0;
}

.footer-copy{
    opacity:.7;
    margin-top:25px;
}


@media(max-width:768px){

.site-footer{
    padding:40px 15px 25px;
}

.footer-content h3{
    font-size:22px;
}

.footer-content p{
    font-size:14px;
}

}
